#pragma once

namespace secrets {

//# WiFi credentials
static const char wifi_ssid[] = "YOUR_SSID_HERE";
static const char wifi_pass[] = "YOUR_PASS_HERE";

//# Device configuration
constexpr uint32_t fan_id = YOUR_FAN_ID_HERE;

#ifdef ENABLE_WEBSERVER
//# HTTP credentials
// TODO
#endif

#ifdef ENABLE_MQTT_CLIENT
//# MQTT credentials
static const char broker[] = "YOUR_BROKER_IP";
static const char client_id[] = "YOUR_FAN_CONTROLLER_CLIENT_ID (EMPTY IF AUTO-GENERATE)";
static const char password[] = "YOUR_BROKER_PASSWORD (EMPTY IF NONE)";
#endif

}
